name: Node.js CI
on:
  push:
    branches: ["master"]
    paths:
      - "web/**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.5"
      - run: pwd
      - run: ls
      - run: |
          cd web
          pwd
          ls
          npm install
          npm run build --if-present
          npm test
      - run: pwd

