name: Node.js CI
on:
  push:
    branches: ["master"]
    paths:
      - "web/**"
defaults:
  run:
    working-directory: web
jobs:
#   test:
#     runs-on: ubuntu-latest
#     steps:
#     - uses: actions/checkout@v2
#     - uses: actions/setup-node@v1
#       with:
#         node-version: 16.5
#     - name: install
#       run: npm i
#     - name: test
#       run: npm run test
  # build-image-push:
  #   # needs: test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     -
  #       name: check 
  #       run: pwd
  #     -
  #       name: Set up QEMU
  #       uses: docker/setup-qemu-action@v2
  #     -
  #       name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2
  #     -
  #       name: Login to Docker Hub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #     -
  #       name: Build and push
  #       run: |
  #         docker build -t dingyi2000/web .
  #         docker push dingyi2000/web


  deploy:
    # needs: build-image-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - run: ls
      - name: Public IP
        id: ip
        uses: haythem/public-ip@v1.3

      - name: Print Public IP
        run: |
          echo --- ${{ steps.ip.outputs.ipv4 }} ---
      - name: pwd
        run: |
          pwd
          ls
          cat /Users/dingyi.tian/Desktop/sre-learning-by-doing/slbd-infra/config/web1
          ssh -i /Users/dingyi.tian/Desktop/sre-learning-by-doing/slbd-infra/config/web1 ubuntu@${{ secrets.WEB1_HOST }}
      # - uses: LuisEnMarroquin/setup-ssh-action@v2.0.0
      #   with:
      #     ORIGIN: ${{ secrets.WEB1_HOST }} # example.com || 8.8.8.8
      #     SSHKEY: /Users/dingyi.tian/Desktop/sre-learning-by-doing/slbd-infra/config/web1
      #     NAME: production
      #     PORT: 22
      #     USER: ubuntu
      # - run: ssh production ls --help




