name: Node.js CI
on:
  push:
    branches: ["master"]
    paths:
      - "web/**"
defaults:
  run:
    working-directory: web
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16.5
    - name: install
      run: npm i
    - name: test
      run: npm run test
  build-image-push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      -
        name: check 
        run: pwd
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      -
        name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        run: |
          docker build -t dingyi2000/web .
          docker push dingyi2000/web


  deploy:
    needs: build-image-push
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v2
      - name: Public IP
        id: ip
        uses: haythem/public-ip@v1.3
      - name: ssh to web1 to run web
        run: |
          ssh -i /Users/dingyi.tian/Desktop/sre-learning-by-doing/slbd-infra/config/web1 ubuntu@${{ secrets.WEB1_HOST }} "docker stop web;docker rm web;docker run -d --name=web -p 3000:3000 -e REACT_APP_API_BASE_URL:=http://localhost:8092 dingyi2000/web"

      - name: ssh to web2 to run web
        run: |
          ssh -i /Users/dingyi.tian/Desktop/sre-learning-by-doing/slbd-infra/config/web2 ubuntu@${{ secrets.WEB2_HOST }} "docker stop web;docker rm web;docker run -d --name=web -p 3000:3000 -e REACT_APP_API_BASE_URL:=http://localhost:8092 dingyi2000/web"





